body{
    background-color: rgb(163, 115, 163);
    color: black;
}

button{
    border-radius: 20px;
    background-color: rgb(163, 115, 163);
    margin: 10px;
    padding: 1em;
} 


#central-block{
    border-radius: 15%;
    padding: 20px;
    width: 400px;
    margin:  50px auto;
    background-color: whitesmoke;
    border: 2px solid black;
    text-align: center;
    
}

#time-left{
    font-size: 50px;
}