*{
    margin: 0;
    box-sizing: border-box;
}

body{
    
    color: black;
    /* background: url("/src/chuttersnap-zYvuRX4kIWE-unsplash.jpg"); */
    
    background: linear-gradient(90deg, rgb(247, 79, 79) 37%, rgba(255,103,103,1) 82%);
    background-size: cover;
    
}

#container{
    height: 100vh;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
}

button{
    border-radius: 0.5em;
    margin: 10px;
    padding: 1em;
    background-color: rgba(32, 173, 13, 0.558);
    color: white;
    border: none;
    transition: 0.3s ease all;

} 

button:focus{
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.781);
}

button:hover{
    background-color: rgba(14, 191, 14, 0.84);
    transition: 0.3s ease all;
}


#central-block{
    border-radius: 0.5em;
    padding: 20px;
    width: 400px;
    max-width: 90vw;
    margin: auto;
    background-color: rgba(222, 211, 211, 0.407);
    color: white;
   
    border: 2px solid rgb(85, 85, 85);
    text-align: center;
    
}

#adjustments{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 40px; */
}

#time-left{
    font-size: 6em;
    color: white;
    margin: 40px auto;
}

#start_stop{
    background-color: rgb(13, 173, 13);
    color: white;
    border: none;
}